@charset "UTF-8";
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  width: 80%;
  height: 6rem;
  background: #071E3D;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto; }
  header .logo img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50px; }
  header nav .logo img {
    display: none; }
  header nav ul {
    display: flex; }
    header nav ul li {
      list-style-type: none; }
      header nav ul li a {
        color: white;
        font-family: "Lora", serif;
        font-size: 16px;
        display: block;
        font-weight: 400;
        padding: 8px 18px;
        border-radius: 30px;
        transition: 0.2s;
        text-decoration: none; }
        header nav ul li a:hover {
          background: #4C6793; }
      header nav ul li .active {
        background: #8BBCCC;
        color: #fff; }
  header .hamburguer {
    display: none;
    height: fit-content;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s; }
    header .hamburguer:hover {
      background: #8BBCCC; }
  header .menu {
    /* icono de menu*/
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: white; }
  header .carritoDeCompras a img {
    width: 45px;
    height: 3rem;
    padding: 2px;
    object-fit: fill; }

main .sectionPrincipal, main .seccionPrincipalTienda {
  width: 100%;
  height: 35rem;
  background: url("../assets/img/bannerMaxparts.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2px; }
  main .sectionPrincipal div h1, main .seccionPrincipalTienda div h1 {
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    font-family: "Lora", serif;
    font-weight: 700;
    /* grosor letra*/
    padding-top: 5rem;
    font-size: 7rem;
    /*tamaño de la imagen*/
    margin: 0; }
  main .sectionPrincipal div h2, main .seccionPrincipalTienda div h2 {
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2rem;
    /*tamaño de la letra*/
    width: 80%;
    margin-left: 10%; }
  main .sectionPrincipal div .barraNav input, main .seccionPrincipalTienda div .barraNav input, main .sectionPrincipal div .barraNav .cuadroPresu form .datosPresu textarea, .cuadroPresu form .datosPresu main .sectionPrincipal div .barraNav textarea, main .seccionPrincipalTienda div .barraNav .cuadroPresu form .datosPresu textarea, .cuadroPresu form .datosPresu main .seccionPrincipalTienda div .barraNav textarea {
    width: 50%;
    border-radius: 6px;
    font-family: "Lora", serif;
    font-weight: 200;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    border: none;
    margin-left: 25%; }

main .importantInformation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px; }
  main .importantInformation div {
    background-color: #4C6793;
    width: 17rem;
    height: 20rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 5px grey; }
    main .importantInformation div h3 {
      font-family: "Lora", serif;
      font-weight: 400;
      color: white;
      text-align: center;
      font-size: 1.6rem; }
    main .importantInformation div img {
      width: 100%;
      height: 15rem;
      object-fit: cover; }

main .contenedorSecciones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 85%; }
  main .contenedorSecciones .seccionMotores, main .contenedorSecciones .seccionCapots, main .contenedorSecciones .seccionParagolpes {
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-left: 17.5%; }
    main .contenedorSecciones .seccionMotores div h2, main .contenedorSecciones .seccionCapots div h2, main .contenedorSecciones .seccionParagolpes div h2 {
      width: 18rem;
      color: white;
      text-align: center;
      font-family: "Lora", serif;
      font-size: 3rem; }
    main .contenedorSecciones .seccionMotores div img, main .contenedorSecciones .seccionCapots div img, main .contenedorSecciones .seccionParagolpes div img {
      width: 300px;
      height: 18rem;
      padding-top: 1rem;
      padding-left: 1rem;
      object-fit: cover; }
  main .contenedorSecciones .seccionPuertas, main .contenedorSecciones .seccionTapas, main .contenedorSecciones .seccionPortones {
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    margin-right: 17.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px; }
    main .contenedorSecciones .seccionPuertas div h2, main .contenedorSecciones .seccionTapas div h2, main .contenedorSecciones .seccionPortones div h2 {
      padding-left: 3rem;
      color: white;
      font-family: "Lora", serif;
      font-size: 3rem; }
    main .contenedorSecciones .seccionPuertas div img, main .contenedorSecciones .seccionTapas div img, main .contenedorSecciones .seccionPortones div img {
      width: 300px;
      height: 18rem;
      padding-top: 1rem;
      padding-right: 1rem;
      object-fit: cover; }

main .todasMarcas {
  width: 100%;
  height: auto;
  overflow: hidden; }
  main .todasMarcas h5 {
    font-family: "Lora", serif;
    font-weight: 400;
    color: black;
    text-align: center;
    font-size: 2rem; }

.botonTienda a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
  font-family: "Lora", serif;
  font-weight: 700; }
  .botonTienda a:hover {
    color: #8BBCCC;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s; }
  .botonTienda a span {
    /*linea arriba del boton*/
    position: absolute;
    display: block; }
    .botonTienda a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #2196f3); }
    .botonTienda a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #2196f3); }
    .botonTienda a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #2196f3); }
    .botonTienda a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #2196f3); }
  .botonTienda a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s; }
  .botonTienda a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s; }
  .botonTienda a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s; }
  .botonTienda a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s; }

.logosMarcas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(130px * 34); }
  .logosMarcas .slide {
    width: 130px; }
    .logosMarcas .slide img {
      width: 100%;
      object-fit: fill; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-150px * 17));
    transform: translateX(calc(-150px * 17)); } }

footer {
  width: 100%;
  height: 30rem;
  background-color: #8BBCCC;
  margin-top: 15px; }
  footer .grupo-1 {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: 12% 10% 20% 28% 10% 20%;
    justify-items: center;
    align-items: center; }
    footer .grupo-1 img {
      border-radius: 65px;
      object-fit: fill;
      width: 10rem;
      height: 10rem; }
    footer .grupo-1 div h4 {
      font-family: "Lora", serif;
      font-weight: 700;
      font-size: 20px;
      text-align: center; }
    footer .grupo-1 div p {
      font-family: "Lora", serif;
      font-size: 16px;
      font-weight: 600;
      text-align: center; }
    footer .grupo-1 div button {
      /* boton VER MAPA*/
      background-color: #4C6793;
      border: none;
      border-radius: 6px; }
      footer .grupo-1 div button a {
        text-decoration: none; }
        footer .grupo-1 div button a h5 {
          color: white;
          font-family: "Lora", serif;
          font-size: 16px; }
    footer .grupo-1 div .redesSociales img {
      width: 5rem;
      height: 5rem; }
  footer .grupo-2 {
    background-color: #8bbccc9a;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 200;
    font-size: 16px;
    width: 100%; }

main .seccionPrincipalTienda div h1 {
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  font-family: "Lora", serif;
  font-weight: 700;
  /* grosor letra*/
  padding-top: 5rem;
  font-size: 7rem;
  /*tamaño de la imagen*/
  margin: 0; }

main .seccionPrincipalTienda div h2 {
  background-color: rgba(255, 255, 255, 0.603);
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  /*tamaño de la letra*/
  width: 80%;
  margin-left: 10%; }

main .seccionPrincipalTienda .busquedaRapida {
  background-color: #4C6793;
  width: 80%;
  margin-left: 10%;
  margin-top: 1rem; }
  main .seccionPrincipalTienda .busquedaRapida div h4 {
    font-family: "Lora", serif;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 20px;
    /*tamaño de la letra*/
    padding: 1rem; }
  main .seccionPrincipalTienda .busquedaRapida .filtroBusqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
    main .seccionPrincipalTienda .busquedaRapida .filtroBusqueda input, main .seccionPrincipalTienda .busquedaRapida .filtroBusqueda .cuadroPresu form .datosPresu textarea, .cuadroPresu form .datosPresu main .seccionPrincipalTienda .busquedaRapida .filtroBusqueda textarea {
      width: 14rem;
      padding: 10px;
      border-radius: 6px;
      border: none;
      margin: 5px; }
    main .seccionPrincipalTienda .busquedaRapida .filtroBusqueda button {
      color: white;
      font-size: 16px;
      font-family: 'Lora', serif;
      font-weight: 400;
      background-color: black;
      padding: 8px;
      border-radius: 5px;
      border: none; }

main .mediosDePago {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px; }
  main .mediosDePago div {
    /* los elementos del div estan uno bajo del otro con flex direction column*/
    background-color: rgba(0, 0, 0, 0.108);
    width: 20rem;
    height: 200px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    box-shadow: 3px 3px 5px grey; }
    main .mediosDePago div h3 {
      color: black;
      font-family: "Lora", serif;
      font-weight: 700;
      font-size: 20px;
      text-align: center; }
    main .mediosDePago div img {
      width: 27%;
      height: 6rem;
      padding-bottom: 10px; }

main .containerTienda {
  width: 100%;
  display: flex; }
  main .containerTienda .filtros {
    width: 20%; }
    main .containerTienda .filtros div h4 {
      color: black;
      font-family: "Lora", serif;
      font-weight: 700;
      font-size: 16px; }
    main .containerTienda .filtros div ul li {
      list-style-type: none;
      padding-top: 10px;
      font-family: "Lora", serif;
      font-size: 16px; }
  main .containerTienda .ordenarProd {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); }
    main .containerTienda .ordenarProd .boxProd {
      background-color: #d9d9d988;
      margin-top: 20px;
      width: 95%;
      height: 500px;
      border-radius: 6px;
      box-shadow: 3px 3px 5px grey;
      transition: all 400ms ease; }
      main .containerTienda .ordenarProd .boxProd img {
        width: 95%;
        padding: 10px;
        height: 250px;
        object-fit: fill; }
      main .containerTienda .ordenarProd .boxProd h5 {
        text-align: center;
        font-size: 20px;
        font-family: "Lora", serif; }
      main .containerTienda .ordenarProd .boxProd p {
        font-family: "Lora", serif;
        font-weight: 700;
        text-align: center;
        font-size: 25px; }
      main .containerTienda .ordenarProd .boxProd button {
        height: 40px;
        background-color: #4C6793;
        border: none;
        margin-left: 25%;
        border-radius: 5px; }
        main .containerTienda .ordenarProd .boxProd button h6 {
          color: white;
          font-family: "Lora", serif;
          font-weight: 400;
          font-size: 10px;
          margin: 0; }
      main .containerTienda .ordenarProd .boxProd:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }

.sectionPrinNos {
  width: 100%;
  height: 300px;
  background-image: url("../assets/img/bannerMaxparts.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2px; }
  .sectionPrinNos div h1 {
    color: white;
    width: 100%;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 700;
    padding-top: 100px;
    font-size: 40px;
    /*tamaño de la imagen*/
    margin: 0; }

.allMain {
  display: flex;
  width: 100%;
  background-color: #4C6793; }
  .allMain .sectionNos {
    padding: 30px; }
    .allMain .sectionNos h2 {
      color: white;
      text-align: center; }
    .allMain .sectionNos h3 {
      font-family: "Lora", serif;
      color: white;
      font-weight: 200;
      text-align: center;
      font-size: 20px;
      /*tamaño de la letra*/
      padding: 1rem;
      margin-top: 50px; }
    .allMain .sectionNos img {
      width: 500px;
      height: 400px;
      margin-left: 15%;
      border-radius: 10px; }

.procesoDesarme h2 {
  font-family: "Lora", serif;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px black; }

.procesoDesarme .pasosReciclado {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }
  .procesoDesarme .pasosReciclado div img {
    width: 40rem; }

.cuadroPresu {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px; }
  .cuadroPresu form {
    padding: 20px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #ffffff; }
    .cuadroPresu form h4 {
      color: #282f36;
      font-size: 16px; }
    .cuadroPresu form .datosPresu {
      display: flex;
      flex-direction: column;
      text-align: left; }
      .cuadroPresu form .datosPresu label {
        color: #282f36;
        font-size: 15px;
        font-weight: 400; }
      .cuadroPresu form .datosPresu input, .cuadroPresu form .datosPresu textarea {
        padding: 17px 25px;
        border-radius: 25px;
        background-color: #edfbff;
        border: 2px solid #f0f7fa;
        color: #282f36;
        outline: none; }
        .cuadroPresu form .datosPresu input::placeholder, .cuadroPresu form .datosPresu textarea::placeholder {
          color: #b5c3ca; }
      .cuadroPresu form .datosPresu .form-txt {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        text-align: center; }
        .cuadroPresu form .datosPresu .form-txt a {
          color: #769cb2;
          font-size: 14px;
          font-weight: 200;
          text-decoration: none; }
      .cuadroPresu form .datosPresu .btn {
        font-size: 16px;
        color: #ffffff;
        border: 0;
        border-radius: 25px;
        background-color: #4ca5d9;
        box-shadow: 0 0 20px rgba(0, 174, 254, 0.4); }
        .cuadroPresu form .datosPresu .btn:hover {
          background-color: #4bcfe0; }

.sectionPrincipalCarrito {
  width: 100%;
  height: 300px;
  background-image: url("../assets/img/bannerMaxparts.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .sectionPrincipalCarrito h1 {
    color: white;
    width: 100%;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 700;
    /* grosor letra*/
    padding-top: 7rem; }

table {
  width: 100%; }
  table .sectionCompra th h4 {
    /*PRODUCTO PRECIO CANTIDAD*/
    font-family: "Lora", serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    border-bottom: solid black;
    padding-top: 10px; }
  table .subTotal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid black; }

.botonContinuar {
  background-color: black;
  border: none;
  border-radius: 20px; }
  .botonContinuar h4 {
    text-decoration: none;
    color: white;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 14px; }

.categoriaMotores {
  /*TITULO*/
  width: 100%;
  background-color: black;
  margin-top: 2px; }
  .categoriaMotores div {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .categoriaMotores div h1 {
      color: white;
      width: 100%;
      font-family: 'Lora', serif;
      font-weight: 700;
      /* grosor letra*/
      font-size: 40px;
      padding-left: 30px; }
    .categoriaMotores div img {
      width: 20%;
      height: 300px;
      padding-right: 30px; }

.container {
  background-color: aliceblue;
  border-radius: 15px;
  border: solid black;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 5px;
  margin-left: 8%;
  box-shadow: 3px 3px 5px grey; }
  .container .columnLeft img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
    padding: 5px; }
  .container .columnRight {
    display: flex;
    flex-direction: column; }
    .container .columnRight h3 {
      font-family: "Lora", serif;
      text-align: center;
      font-size: 30px; }
    .container .columnRight .description {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      text-align: center;
      gap: 40px; }
      .container .columnRight .description div h4 {
        font-family: "Lora", serif;
        font-size: 20px;
        font-weight: 700; }
      .container .columnRight .description div p {
        font-family: "Lora", serif;
        font-size: 20px;
        font-weight: 600; }
    .container .columnRight button {
      background-color: #4C6793;
      font-family: "Lora", serif;
      font-size: 20px;
      font-weight: 700;
      color: white;
      width: 20%;
      border: none;
      border-radius: 5px;
      margin-left: 40%; }

@media only screen and (max-width: 768px) {
  header {
    width: 90%;
    padding: 0 20px; }
    header #nav_check:checked ~ nav {
      left: 0; }
    header nav {
      position: absolute;
      left: -300px;
      top: 0;
      z-index: 999;
      width: 280px;
      height: 100vh;
      background-color: #4C6793;
      transition: 0.2s;
      box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05); }
      header nav .logo img {
        display: block;
        height: 7rem;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 30px;
        border-radius: 45px; }
    header nav ul {
      display: block;
      padding: 0 20px;
      margin-top: 30px; }
      header nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px; }
    header .hamburguer {
      display: block; } }
