/* pagina principal */
/*el * de la linea 3 siempre se tiene que colocar al inicio del CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /*1rem = 16px tamaño que tiene por defecto las letras*/
    font-size: 62.5%;


/* pagina 1: PAGINA PRINCIPAL*/

/*header página principal*/

}
header a{
    text-decoration: none;
}
header img{
    width: 8rem;
    height: 7rem;
    padding-left: 5px;
    object-fit: cover;
}
header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.headerNav {
    display: flex; /* indica flexbox*/
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 1rem;
}
.barraMenu{
    display: flex;
    justify-content: space-between;
    list-style-type: none; /*saca los puntitos que aparecen en las listas ul */
}
.barraMenu li{
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.carritoDeCompras img{
    width: 40px;
    height: 4rem;
    padding: 2px;
}

.sectionPrincipal{
    width: 100%; 
    height: 40rem; 
    background-image: url("../assets/img/bannerMaxparts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionPrincipal h1{
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    font-family: 'Lora', serif;
    font-weight: 700; /* grosor letra*/
    padding-top: 15rem;
    font-size: 8rem; /*tamaño de la imagen*/
} 
.sectionPrincipal h2{
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 3rem; /*tamaño de la letra*/
    width: 80%;
}
.subTitulo {
    display: flex;
    justify-content: center;
    
}

/* main pagina principal */
main {
    padding-left: 0.5rem;
}
.barraNav {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.barraNav input{
    width: 30%;
    border-radius: 6px;     
    font-family: 'Lora', serif;
    font-weight: 200;
    color: white;
    text-align: center;
    font-size: 2rem;
    border: none;
}
.importantInformation{
    padding-left: 5rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.importantInformation div{
    background-color: #4C6793;
    width: 25rem;
    height: 23.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px grey;


}
.importantInformation div h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 2rem; /*tamaño de la letra*/
    padding-top: 1rem;
}
.importantInformation img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
/* secciones con categorias */
.contenedorSecciones {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.seccionMotores { 
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 17.5%;
}

.seccionMotores h2{
    width: 18rem;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 3rem;
    padding-top: 7rem;

}
.seccionMotores img{
    width: 300px;
    height: 18rem;
    padding-top: 2rem; 
    padding-left: 1rem;
    object-fit: cover;
}
.seccionMotores a button{
    background-color: #4C6793;
    height: 3rem;
    border: none;
    margin-right: 3rem;
    margin-top: 9rem;
    /* box-shadow: 0 0 10px #4C6793, 0 0 40px #4C6793, 0 0 80px #4C6793 ; */ /* sirve para hacer neon*/

}

.seccionMotores a h5{
    color: white;
    padding: 1rem;

}


.seccionPuertas{ 
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.seccionPuertas h2{
    padding-left: 3rem;
    color: white;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 3rem;
    padding-top: 9rem;
}
.seccionPuertas img{
    width: 300px;
    height: 18rem;
    padding-top: 1.5rem; /*margen de arriba de la imagen*/
    padding-right: 1rem;
    object-fit: cover;
}
.seccionPuertas a button{
    background-color: #4C6793;
    height: 3rem;
    border: none;
    margin-top: 9rem;
}
.seccionPuertas a h5{
    color: white;
    padding: 1rem;
}


.seccionCapots { 
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 17.5%;

}

.seccionCapots div h2{
    width: 18rem;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 3rem;
    padding-top: 7rem;
}
.seccionCapots img{
    width: 300px;
    height: 18rem;
    padding-top: 2rem; 
    padding-left: 1rem;
    object-fit: cover;
}
.seccionCapots a button{
    background-color: #4C6793;
    height: 3rem;
    border: none;
    margin-right: 3rem;
    margin-top: 7rem;

}
.seccionCapots a h5{
    color: white;
    padding: 1rem;
}


.seccionTapas { 
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seccionTapas h2{
    padding-left: 3rem;
    color: white;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 3rem;
    padding-top: 9rem;
}
.seccionTapas img{
    width: 300px;
    height: 18rem;
    padding-top: 1.5rem; /*margen de arriba de la imagen*/
    padding-right: 1rem;
    object-fit: cover;
}
.seccionTapas a button{
    background-color: #4C6793;
    width: 100%;
    height: 3rem;
    border: none;
    margin-top: 7rem;

}
.seccionTapas a h5{
    color: white;
    padding: 1rem;
}

.seccionParagolpes { 
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 17.5%;

}
.seccionParagolpes div h2{
    width: 18rem;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 3rem;
    padding-top: 7rem;
}

.seccionParagolpes img{
    width: 300px;
    height: 18rem;
    padding-top: 2rem; 
    padding-left: 1rem;
    object-fit: cover;
}
.seccionParagolpes a button{
    background-color: #4C6793;
    height: 3rem;
    border: none;
    margin-right: 3rem;
    margin-top: 7rem;

}
.seccionParagolpes a h5{
    color: white;
    padding: 1rem;
}


.seccionPortones { 
    width: 100%;
    height: 20rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seccionPortones h2{
    padding-left: 3rem;
    color: white;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 3rem;
    padding-top: 9rem;
}
.seccionPortones img{
    width: 300px;
    height: 18rem;
    padding-top: 1.5rem; /*margen de arriba de la imagen*/
    padding-right: 1rem;
    object-fit: cover;
}
.seccionPortones a button{
    background-color: #4C6793;
    width: 100%;
    height: 3rem;
    border: none;
    margin-top: 7rem;
}

.seccionPortones a h5{
    color: white;
    padding: 1rem;
}

.todasMarcas h5 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: black;
    text-align: center;
    font-size: 2rem; /*tamaño de la letra*/
    padding-top: 3rem;

}
.todasMarcas img{
    width: 100%;
    height: 20rem;
    object-fit: contain; /* las imagenes se adaptaron de buena calidad al div*/
}
.logosMarcas {
    display: flex;
    flex-direction: row;
}

/* footer pagina principal */

footer {
    width: 100%;
    height: 30rem;
    background-color: #8BBCCC;
}
footer div h4{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
footer div p{ 
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
}
footer div a { /* VER MAPA letra*/
    text-decoration: none;
    color: white
}
footer button h5{ /* VER MAPA*/
    padding: 1rem;
}
footer div button{ /* boton VER MAPA*/
    background-color: #4C6793;
    width: 100%;
    height: 5rem;
    border: none;
}
.pie-de-pagina .grupo-1 {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 img{
    border-radius: 65px;
}
.redesSociales img{
    width: 50px;
    padding-top: 1rem;
}
.pie-de-pagina .grupo-2 {
    background-color: #8bbccc9a;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 1.5rem;
    width: 100%;
}

/* pagina 2: TIENDA */

.seccionPrincipalTienda {
    width: 100%; 
    height: 30rem; 
    background-image: url("../assets/img/bannerMaxparts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 8rem;
    padding-right: 8rem;
}
.seccionPrincipalTienda h1{
    color: white;
    width: 100%;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 700;
    padding-top: 8rem;
    font-size: 8rem; /*tamaño de la imagen*/
} 
.seccionPrincipalTienda h2{
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 3rem;
}

.mediosDePago {
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.mediosDePago div { /* los elementos del div estan uno bajo del otro con flez direction column*/
    background-color: rgba(0, 0, 0, 0.108);
    width: 30rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px grey;
}
.mediosDePago div h3{
    color: black;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.mediosDePago img {
    width: 27%;
    height: 6rem;
    margin-top: 4rem;
}
/*ACA FALTA HACER LOS FILTROS DE LA BUSQUEDA RAPIDA*/
.busquedaRapida {
    background-color: #4C6793;
    width: 75%;
    margin-left: 10%;
}
.busquedaRapida div h4{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 2rem; /*tamaño de la letra*/
    padding: 1rem;
}
.busquedaRapida div {
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem;
}
.filtroBusqueda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.filtroBusqueda input{
    padding: 10px;
    border-radius: 6px;
}

.filtroBusqueda button{ 
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    background-color: black;
    padding: 8px;
    border-radius: 5px;
}
/*FALTA COLOCAR LOS ENLACES PARA PODER FILTRAR PRODUCTOS*/
.filtros div{
    width: 150px;
    color: black;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem;
    padding-top: 1rem;
}
.filtros li{
    padding-top: 1rem;
}
.ordenarProd{
    width: 100%;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.containerTienda{
display: flex;
}

.boxProd {
    background-color: #d9d9d988;
    width: 300px;
    margin: 10px;
    height: 450px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px grey;
    transition: all 400ms ease;

}
.boxProd:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4) ;
    transform: translateY(-3%);
}
.boxProd h5 {
    text-align: center;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding-bottom: 10px;
}
.boxProd img {
    width: 100%;
    padding: 10px;
    height: 250px;
    object-fit: cover;
}
.boxProd p{
    font-family: 'Lora', serif;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}
.boxProd button{
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    background-color: #4C6793;
    padding: 10px;
    border: none;
    margin-left: 8rem;
    margin-top: 2rem;
}


/* pagina 3: NOSOTROS */
.sectionPrincipalNos {
    width: 100%; 
    height: 300px; 
    background-image: url("../assets/img/bannerMaxparts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionPrincipalNos div h1{
    color: white;
    width: 100%;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 700;
    padding-top: 100px;
    font-size: 40px; /*tamaño de la imagen*/
}
.sectionNos h2{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 3rem; /*tamaño de la letra*/
    padding: 1rem;


}
.sectionNos {
    height: 50rem;
    background-color: #4C6793;
}
.presu{ /*cuadro negro*/
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem;
}
.presu h3{
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;

}
.presu img{
    width: 20%;
    height: 20rem;
    padding-left: 1rem;


}
.datosPresu h4{ /*contactenos...*/
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.datosPresu h5{
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.datosPresu input{
    width: 90%;

}
.datosPresu label{
    width: 90%;
}
.datosPresu textarea {
    width: 90%;


}
.pasosReciclado img{
    width: 48%;
    height: 50rem;

}
.cuadroPresu {/*cuadro azul con datos*/
    background-color: #4C6793;
    width: 40%;

}

/* pagina 4: CARRITO */
.sectionPrincipalCarrito{
    width: 100%; 
    height: 300px; 
    background-image: url("../assets/img/bannerMaxparts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionPrincipalCarrito h1{
    color: white;
    width: 100%;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 700; /* grosor letra*/
    padding-top: 10rem;
    font-size: 6rem;
}
.sectionCompra h4{/*PRODUCTO PRECIO CANTIDAD*/
    font-family: 'Lora', serif;
    font-size:2rem;
    font-weight: 700;
    padding-left: 3rem;
    border-bottom: solid black;
    padding-top: 5rem;


}
.sectionCompra th{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size:2rem;
}
.subTotal {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 1.5rem;
} 
.botonContinuar h4{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1rem;
}
.botonContinuar {
    background-color: black;
    border: none;
}
.botonContinuar a{
    text-decoration: none;
}
/*pagina solo motores*/
.categoriaMotores {
    width: 100%;
    background-color: black;
}

.categoriaMotores h1{
    color: white;
    width: 100%;
    font-family: 'Lora', serif;
    font-weight: 700; /* grosor letra*/
    padding-top: 10rem;
    font-size: 6rem;
}
.categoriaMotores img{
    width: 20%;
    height: 30rem;
}

.products img{
    width: 15%;
    height: 15rem;
}
.descriptionProd {
    text-align: center;
    font-size: 15px;
    font-family: 'Lora', serif;
    padding-bottom: 10px;
}
.cajaProd button{
    background-color: #4C6793;
    border: none;
}
.cajaProd h5 {
    color: white;
    font-family: 'Lora', serif;
    font-weight: 700; /* grosor letra*/
    padding: 1rem;
}

@media (max-width: 1024px) {
    .sectionPrincipal h1 {
        color: white;
        width: 100%;
        text-align: center;
        text-shadow: 3px 3px 5px black;
        font-family: 'Lora', serif;
        font-weight: 700; /* grosor letra*/
        padding-top: 15rem;
        font-size: 6rem; /*tamaño de la imagen*/
    }
    .subTitulo h2{
        background-color: rgba(255, 255, 255, 0.603);
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 2rem;
    }
    .barraNav input{
        width: 30%;
        border-radius: 6px;     
        font-family: 'Lora', serif;
        font-weight: 200;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        border: none;
    
    }
    .importantInformation {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .importantInformation div{
        background-color: #4C6793;
        width: 20%;
        height: 18rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 5px grey;
    
    }
    .importantInformation img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .importantInformation div h3 {
    font-size: 15px;
    }

    .seccionMotores { 
        height: 15rem;
    }
    
    .seccionMotores h2 {
        font-size: 2rem;
        padding-top: 5rem;
    
    }
    .seccionMotores img{
        width: 250px;
        height: 14rem;
        padding-top: 1rem; 
        padding-left: 1rem;
        object-fit: cover;
    }
    .seccionMotores a button{
        margin-right: 3rem;
        margin-top: 6rem;
    
    }
    
    .seccionPuertas{ 
        height: 15rem;
    
    }
    .seccionPuertas h2{
        padding-left: 3rem;
        font-size: 2rem;
        padding-top: 7rem;
    }
    .seccionPuertas img{
        width: 250px;
        height: 14rem;
        padding-top: 1.5rem; /*margen de arriba de la imagen*/
        padding-right: 1rem;
        object-fit: cover;
    }
    .seccionPuertas a button{
        height: 3rem;
        margin-top: 7rem;
    }
    
    .seccionCapots { 
        height: 15rem;
    }
    
    .seccionCapots div h2 {
        font-size: 2rem;
        padding-top: 6rem;
    
    }
    .seccionCapots img{
        width: 250px;
        height: 14rem;
        padding-top: 1rem; 
        padding-left: 1rem;
        object-fit: cover;
    }
    .seccionCapots a button{
        margin-right: 3rem;
        margin-top: 6rem;
    
    }
    
    .seccionTapas{ 
        height: 15rem;
    
    }
    .seccionTapas h2{
        padding-left: 3rem;
        font-size: 2rem;
        padding-top: 7rem;
    }
    .seccionTapas img{
        width: 250px;
        height: 14rem;
        padding-top: 1.5rem; /*margen de arriba de la imagen*/
        padding-right: 1rem;
        object-fit: cover;
    }
    .seccionTapas a button{
        height: 3rem;
        margin-top: 7rem;
    }
    .seccionTapas a h5{
        color: white;
        padding: 1rem;
    }
    
    .seccionParagolpes { 
        height: 15rem;
    }
    
    .seccionParagolpes div h2 {
        font-size: 2rem;
        padding-top: 6rem;
    
    }
    .seccionParagolpes img{
        width: 250px;
        height: 14rem;
        padding-top: 1rem; 
        padding-left: 1rem;
        object-fit: cover;
    }
    .seccionParagolpes a button{
        margin-right: 3rem;
        margin-top: 6rem;
    
    }
    
    .seccionPortones{ 
        height: 15rem;
    
    }
    .seccionPortones h2{
        padding-left: 3rem;
        font-size: 2rem;
        padding-top: 7rem;
    }
    .seccionPortones img{
        width: 250px;
        height: 14rem;
        padding-top: 1.5rem; /*margen de arriba de la imagen*/
        padding-right: 1rem;
        object-fit: cover;
    }
    .seccionPortones a button{
        height: 3rem;
        margin-top: 7rem;
    }
    .seccionPortones a h5{
        color: white;
        padding: 1rem;
    }

    .todasMarcas h5 {
        font-size: 1.6rem; /*tamaño de la letra*/
        padding-top: 3rem;
    }
    .logosMarcas div{
        height: 20rem;
    }

    footer div h4{
        font-size: 1.5rem;
    }
    .pie-de-pagina .grupo-1 {
        width: 100%;
        height: 30rem;
        display: grid;
        grid-template-columns: 15% 20% 32.5% 32.5%;
        justify-items: center;
        align-items: center;
    }
    .grupo-1 figure img{
        width: 120px;
        height: 120px;
    }
    .pie-de-pagina .grupo-1 img{
        border-radius: 65px;
    }
    
}
@media (max-width: 768px) {
    .sectionPrincipal h1 {
        color: white;
        width: 100%;
        text-align: center;
        text-shadow: 3px 3px 5px black;
        font-family: 'Lora', serif;
        font-weight: 700; /* grosor letra*/
        padding-top: 15rem;
        font-size: 6rem; /*tamaño de la imagen*/
    }
    .subTitulo h2{
        background-color: rgba(255, 255, 255, 0.603);
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 2rem;
    }
    .barraNav input{
        width: 60%;
    }

    .importantInformation {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .importantInformation div{
        background-color: #4C6793;
        width: 20%;
        height: 18rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 5px grey;
    
    }
    .importantInformation img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .importantInformation div h3 {
    font-size: 15px;
    }

    .seccionMotores { 
        height: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    
    .seccionMotores h2 {
        font-size: 2rem;
        padding-top: 5rem;
    
    }
    .seccionMotores img{
        width: 250px;
        height: 14rem;
        padding-top: 1rem; 
        padding-left: 1rem;
        object-fit: cover;
    }
    .seccionMotores a button{
        margin-right: 3rem;
        margin-top: 6rem;
    
    }
    
    .seccionPuertas{ 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .seccionPuertas h2{
        padding-left: 3rem;
        font-size: 2rem;
        padding-top: 7rem;
    }
    .seccionPuertas img{
        width: 250px;
        height: 14rem;
        padding-top: 1.5rem; /*margen de arriba de la imagen*/
        padding-right: 1rem;
        object-fit: cover;
    }
    .seccionPuertas a button{
        height: 3rem;
        margin-top: 7rem;
    }
    
    .seccionCapots { 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .seccionCapots div h2 {
        font-size: 2rem;
        padding-top: 6rem;
    
    }
    .seccionCapots img{
        width: 250px;
        height: 14rem;
        padding-top: 1rem; 
        padding-left: 1rem;
        object-fit: cover;
    }
    .seccionCapots a button{
        margin-right: 3rem;
        margin-top: 6rem;
    
    }
    
    .seccionTapas{ 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }
    .seccionTapas h2{
        padding-left: 3rem;
        font-size: 2rem;
        padding-top: 7rem;
    }
    .seccionTapas img{
        width: 250px;
        height: 14rem;
        padding-top: 1.5rem; /*margen de arriba de la imagen*/
        padding-right: 1rem;
        object-fit: cover;
    }
    .seccionTapas a button{
        height: 3rem;
        margin-top: 7rem;
    }
    .seccionTapas a h5{
        color: white;
        padding: 1rem;
    }
    
    .seccionParagolpes { 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .seccionParagolpes div h2 {
        font-size: 2rem;
        padding-top: 6rem;
    
    }
    .seccionParagolpes img{
        width: 250px;
        height: 14rem;
        padding-top: 1rem; 
        padding-left: 1rem;
        object-fit: cover;
    }
    .seccionParagolpes a button{
        margin-right: 3rem;
        margin-top: 6rem;
    
    }
    
    .seccionPortones{ 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }
    .seccionPortones h2{
        padding-left: 3rem;
        font-size: 2rem;
        padding-top: 7rem;
    }
    .seccionPortones img{
        width: 250px;
        height: 14rem;
        padding-top: 1.5rem; /*margen de arriba de la imagen*/
        padding-right: 1rem;
        object-fit: cover;
    }
    .seccionPortones a button{
        height: 3rem;
        margin-top: 7rem;
    }
    .seccionPortones a h5{
        color: white;
        padding: 1rem;
    }

    .todasMarcas h5 {
        font-size: 1.6rem; /*tamaño de la letra*/
        padding-top: 3rem;
    }
    .logosMarcas div{
        height: 20rem;
    }
    
    footer div h4{
        font-size: 1.5rem;
    }
    .pie-de-pagina .grupo-1 {
        width: 100%;
        height: 30rem;
        display: grid;
        grid-template-columns: 15% 20% 32.5% 32.5%;
        justify-items: center;
        align-items: center;
    }
    .grupo-1 figure img{
        width: 100%;
        height: 10%;
    }
    .pie-de-pagina .grupo-1 img{
        border-radius: 65px;
    }
    .redesSociales div {
        display: flex;

    }
    
}
@media (max-width: 425px) {
    header img{
        width: 5rem;
        height: 5rem;
        padding-left: 0;
        }
        header { /* logo,barra menu y carrito*/
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        }
        .carritoDeCompras img{
            width: 3rem;
            height: 3rem;
            object-fit: cover;
        }
        .carritoDeCompras {
            padding-top: 1rem;
        }
    
        .sectionPrincipal{ 
            height: 25rem; 
        }
        .sectionPrincipal h1{
            font-weight: 700; /* grosor letra*/
            padding-top: 10px;
            font-size: 45px; /*tamaño de la letra*/
        } 
        .sectionPrincipal h2{
            font-weight: 200;
            font-size: 16px; /*tamaño de la letra*/
            width: 90%;
        }
    
        /* main pagina principal */
        main {
            padding-left:0;
        }
        .barraNav {
            padding-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .barraNav input{
            width: 78%;  
            font-size: 16px;
        }
        .importantInformation{
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .importantInformation div{
            width: 90%;
            height: 20rem;
            margin-top: 1rem;
        }
        .importantInformation div h3{
            font-size: 20px; /*tamaño de la letra*/
            padding-top: 1rem;
        }
        .importantInformation img{
            margin-top: 17px;
            width: 100%;
            height: 148px;
            object-fit: fill;
        }


        /* secciones con categorias */
        .contenedorSecciones {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .seccionMotores { 
            width: 100%;
            height: 40rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
        }
    
        .seccionMotores h2{
            width: 18rem;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 0;
    
        }
        .seccionMotores img{
            width: 300px;
            height: 18rem;
            padding-top: 1rem; 
            padding-left: 0;
            object-fit: cover;

        }
        .seccionMotores a button{
            margin-right: 0rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
            /* box-shadow: 0 0 10px #4C6793, 0 0 40px #4C6793, 0 0 80px #4C6793 ; */ /* sirve para hacer neon*/
    
        }
        .seccionPuertas {
            width: 100%;
            height: 40rem;
            flex-direction: column;
            align-items: center;
        }
    
        .seccionPuertas h2{
            padding-left: 0;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 40px;
        }
        .seccionPuertas img{
            width: 300px;
            height: 18rem;
            padding-top: 10px; /*margen de arriba de la imagen*/
            padding-right: 0;
            object-fit: cover;
            padding-bottom: 10px;
        }
        .seccionPuertas a button{
            height: 3rem;
            border: none;
            margin-top: 0;
        }
    
    
        .seccionCapots { 
            width: 100%;
            height: 40rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
    
        }
    
        .seccionCapots div h2{
            width: 18rem;
            text-shadow: 3px 3px 5px whitesmoke;
            font-size: 3rem;
            padding-top: 0;
        }
        .seccionCapots img{
            width: 300px;
            height: 18rem;
            padding-top: 2rem; 
            padding-left: 0;
            object-fit: cover;
        }
        .seccionCapots a button{
            margin-right: 0rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
    
        }
    
    
        .seccionTapas { 
            width: 100%;
            height: 40rem;
            flex-direction: column;
            align-items: center;
        }
        .seccionTapas h2{
            padding-left: 0;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 40px;
        }
        .seccionTapas img{
            width: 300px;
            height: 18rem;
            padding-top: 10px; /*margen de arriba de la imagen*/
            padding-right: 0;
            object-fit: cover;
            padding-bottom: 10px;
        }
        .seccionTapas a button{
            margin-top: 1rem;
    
        }
    
        .seccionParagolpes { 
            width: 100%;
            height: 40rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
    
        }
        .seccionParagolpes div h2{
            width: 18rem;
            text-shadow: 3px 3px 5px whitesmoke;
            font-size: 3rem;
            padding-top: 0;
        }
    
        .seccionParagolpes img{
            width: 300px;
            height: 18rem;
            padding-top: 2rem; 
            padding-left: 0;
            object-fit: cover;
        }
        .seccionParagolpes a button{
            margin-right: 0rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
    
        }
    
        .seccionPortones { 
            width: 100%;
            height: 40rem;
            flex-direction: column;
            align-items: center;
        }
        .seccionPortones h2{
            padding-left: 0;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 40px;
        }
        .seccionPortones img{
            width: 300px;
            height: 18rem;
            padding-top: 10px; /*margen de arriba de la imagen*/
            padding-right: 0;
            object-fit: cover;
            padding-bottom: 10px;
        }
        .seccionPortones a button{
            margin-top: 1rem;
        }
    
    
        .todasMarcas h5 {
            font-size: 16px; /*tamaño de la letra*/
    
        }
        .todasMarcas img{
            width: 100%;
            height: 20rem;
            object-fit: contain; /* las imagenes se adaptaron de buena calidad al div*/
    
        }
        .logosMarcas {
            display: flex;
        }
        /* footer pagina principal */
    
        footer {
            height: 650px;
            display: flex;
            flex-wrap: wrap;
        }
    
        footer div h4{
            font-size: 16px;
            padding-top: 10px;
            font-weight: 700;
        }
        footer div p{ 
            font-size: 16px;
            font-weight: 400;
        }
    
        footer div button{ /* boton VER MAPA*/
            margin-top: 10px;
        }
        .pie-de-pagina .grupo-1 {
            width: 100%;
            height: 65rem;
            display: flex;
            flex-direction: column;
            
        }
        .grupo-1 figure img{
            width: 100px;
            height: 100px;
        }
}
@media (max-width: 375px) {
    header img{
        width: 5rem;
        height: 5rem;
        padding-left: 0;
        }
        header { /* logo,barra menu y carrito*/
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        }
        .carritoDeCompras img{
            width: 3rem;
            height: 3rem;
            object-fit: cover;
        }
        .carritoDeCompras {
            padding-top: 1rem;
        }
    
        .sectionPrincipal{ 
            height: 20rem; 
        }
        .sectionPrincipal h1{
            font-weight: 700; /* grosor letra*/
            padding-top: 10px;
            font-size: 45px; /*tamaño de la letra*/
        } 
        .sectionPrincipal h2{
            font-weight: 200;
            font-size: 16px; /*tamaño de la letra*/
            width: 90%;
        }
    
        /* main pagina principal */
        main {
            padding-left:0;
        }
        .barraNav {
            padding-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .barraNav input{
            width: 78%;  
            font-size: 16px;
        }
        .importantInformation{
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .importantInformation div{
            width: 90%;
            height: 20rem;
            margin-top: 1rem;
        }
        .importantInformation div h3{
            font-size: 20px; /*tamaño de la letra*/
            padding-top: 1rem;
        }
        .importantInformation img{
            margin-top: 17px;
            width: 100%;
            height: 150px;
            object-fit: fill;

        }
        /* secciones con categorias */
        .contenedorSecciones {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .seccionMotores { 
            width: 100%;
            height: 40rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
        }
    
        .seccionMotores h2{
            width: 18rem;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 0;
    
        }
        .seccionMotores img{
            width: 300px;
            height: 18rem;
            padding-top: 1rem; 
            padding-left: 0;
            object-fit: cover;
        }
        .seccionMotores a button{
            margin-right: 0rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
            /* box-shadow: 0 0 10px #4C6793, 0 0 40px #4C6793, 0 0 80px #4C6793 ; */ /* sirve para hacer neon*/
    
        }
        .seccionPuertas {
            width: 100%;
            height: 40rem;
            flex-direction: column;
            align-items: center;
        }
    
        .seccionPuertas h2{
            padding-left: 0;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 40px;
        }
        .seccionPuertas img{
            width: 300px;
            height: 18rem;
            padding-top: 10px; /*margen de arriba de la imagen*/
            padding-right: 0;
            object-fit: cover;
            padding-bottom: 10px;
        }
        .seccionPuertas a button{
            height: 3rem;
            border: none;
            margin-top: 0;
        }
    
    
        .seccionCapots { 
            width: 100%;
            height: 40rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
    
        }
    
        .seccionCapots div h2{
            width: 18rem;
            text-shadow: 3px 3px 5px whitesmoke;
            font-size: 3rem;
            padding-top: 0;
        }
        .seccionCapots img{
            width: 300px;
            height: 18rem;
            padding-top: 2rem; 
            padding-left: 0;
            object-fit: cover;
        }
        .seccionCapots a button{
            margin-right: 0rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
    
        }
    
    
        .seccionTapas { 
            width: 100%;
            height: 40rem;
            flex-direction: column;
            align-items: center;
        }
        .seccionTapas h2{
            padding-left: 0;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 40px;
        }
        .seccionTapas img{
            width: 300px;
            height: 18rem;
            padding-top: 10px; /*margen de arriba de la imagen*/
            padding-right: 0;
            object-fit: cover;
            padding-bottom: 10px;
        }
        .seccionTapas a button{
            margin-top: 1rem;
    
        }
    
        .seccionParagolpes { 
            width: 100%;
            height: 40rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
    
        }
        .seccionParagolpes div h2{
            width: 18rem;
            text-shadow: 3px 3px 5px whitesmoke;
            font-size: 3rem;
            padding-top: 0;
        }
    
        .seccionParagolpes img{
            width: 300px;
            height: 18rem;
            padding-top: 2rem; 
            padding-left: 0;
            object-fit: cover;
        }
        .seccionParagolpes a button{
            margin-right: 0rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
    
        }
    
        .seccionPortones { 
            width: 100%;
            height: 40rem;
            flex-direction: column;
            align-items: center;
        }
        .seccionPortones h2{
            padding-left: 0;
            text-shadow: 3px 3px 5px whitesmoke;
            text-align: center;
            font-size: 3rem;
            padding-top: 40px;
        }
        .seccionPortones img{
            width: 300px;
            height: 18rem;
            padding-top: 10px; /*margen de arriba de la imagen*/
            padding-right: 0;
            object-fit: cover;
            padding-bottom: 10px;
        }
        .seccionPortones a button{
            margin-top: 1rem;
        }
    
    
        .todasMarcas h5 {
            font-size: 16px; /*tamaño de la letra*/
    
        }
        .todasMarcas img{
            width: 100%;
            height: 20rem;
            object-fit: contain; /* las imagenes se adaptaron de buena calidad al div*/
    
        }
        .logosMarcas {
            display: flex;
        }
        /* footer pagina principal */
    
        footer {
            height: 650px;
            display: flex;
            flex-wrap: wrap;
        }
    
        footer div h4{
            font-size: 16px;
            padding-top: 10px;
            font-weight: 700;
        }
        footer div p{ 
            font-size: 16px;
            font-weight: 400;
        }
    
        footer div button{ /* boton VER MAPA*/
            margin-top: 10px;
        }
        .pie-de-pagina .grupo-1 {
            width: 100%;
            height: 65rem;
            display: flex;
            flex-direction: column;
            
        }
    
}
@media (max-width: 320px) { 

    header img{
    width: 5rem;
    height: 5rem;
    padding-left: 0;
    }
    header { /* logo,barra menu y carrito*/
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    }
    .carritoDeCompras img{
        width: 3rem;
        height: 3rem;
        object-fit: cover;
    }
    .carritoDeCompras {
        padding-top: 1rem;
    }

    .sectionPrincipal{ 
        height: 20rem; 
    }
    .sectionPrincipal h1{
        font-weight: 700; /* grosor letra*/
        padding-top: 10px;
        font-size: 40px; /*tamaño de la letra*/
    } 
    .sectionPrincipal h2{
        font-weight: 200;
        font-size: 16px; /*tamaño de la letra*/
        width: 90%;
    }

    /* main pagina principal */
    main {
        padding-left:0;
    }
    .barraNav {
        padding-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .barraNav input{
        width: 78%;  
        font-size: 16px;
    }
    .importantInformation{
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .importantInformation div{
        width: 90%;
        height: 20rem;
        margin-top: 1rem;
    }
    .importantInformation div h3{
        font-size: 20px; /*tamaño de la letra*/
        padding-top: 1rem;
    }
    .importantInformation img{
        margin-top: 19px;
        width: 100%;
        height: 150px;
        object-fit: fill;
    }
    /* secciones con categorias */
    .contenedorSecciones {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .seccionMotores { 
        width: 100%;
        height: 40rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .seccionMotores h2{
        width: 18rem;
        text-shadow: 3px 3px 5px whitesmoke;
        text-align: center;
        font-size: 3rem;
        padding-top: 0;

    }
    .seccionMotores img{
        width: 300px;
        height: 18rem;
        padding-top: 1rem; 
        padding-left: 0;
        object-fit: cover;
    }
    .seccionMotores a button{
        margin-right: 0rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
        /* box-shadow: 0 0 10px #4C6793, 0 0 40px #4C6793, 0 0 80px #4C6793 ; */ /* sirve para hacer neon*/

    }
    .seccionPuertas {
        width: 100%;
        height: 40rem;
        flex-direction: column;
        align-items: center;
    }

    .seccionPuertas h2{
        padding-left: 0;
        text-shadow: 3px 3px 5px whitesmoke;
        text-align: center;
        font-size: 3rem;
        padding-top: 40px;
    }
    .seccionPuertas img{
        width: 300px;
        height: 18rem;
        padding-top: 10px; /*margen de arriba de la imagen*/
        padding-right: 0;
        object-fit: cover;
        padding-bottom: 10px;
    }
    .seccionPuertas a button{
        height: 3rem;
        border: none;
        margin-top: 0;
    }


    .seccionCapots { 
        width: 100%;
        height: 40rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
        align-items: center;

    }

    .seccionCapots div h2{
        width: 18rem;
        text-shadow: 3px 3px 5px whitesmoke;
        font-size: 3rem;
        padding-top: 0;
    }
    .seccionCapots img{
        width: 300px;
        height: 18rem;
        padding-top: 2rem; 
        padding-left: 0;
        object-fit: cover;
    }
    .seccionCapots a button{
        margin-right: 0rem;
        margin-top: 1rem;
        margin-bottom: 5rem;

    }


    .seccionTapas { 
        width: 100%;
        height: 40rem;
        flex-direction: column;
        align-items: center;
    }
    .seccionTapas h2{
        padding-left: 0;
        text-shadow: 3px 3px 5px whitesmoke;
        text-align: center;
        font-size: 3rem;
        padding-top: 40px;
    }
    .seccionTapas img{
        width: 300px;
        height: 18rem;
        padding-top: 10px; /*margen de arriba de la imagen*/
        padding-right: 0;
        object-fit: cover;
        padding-bottom: 10px;
    }
    .seccionTapas a button{
        margin-top: 1rem;

    }

    .seccionParagolpes { 
        width: 100%;
        height: 40rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
        align-items: center;

    }
    .seccionParagolpes div h2{
        width: 18rem;
        text-shadow: 3px 3px 5px whitesmoke;
        font-size: 3rem;
        padding-top: 0;
    }

    .seccionParagolpes img{
        width: 300px;
        height: 18rem;
        padding-top: 2rem; 
        padding-left: 0;
        object-fit: cover;
    }
    .seccionParagolpes a button{
        margin-right: 0rem;
        margin-top: 1rem;
        margin-bottom: 5rem;

    }

    .seccionPortones { 
        width: 100%;
        height: 40rem;
        flex-direction: column;
        align-items: center;
    }
    .seccionPortones h2{
        padding-left: 0;
        text-shadow: 3px 3px 5px whitesmoke;
        text-align: center;
        font-size: 3rem;
        padding-top: 40px;
    }
    .seccionPortones img{
        width: 300px;
        height: 18rem;
        padding-top: 10px; /*margen de arriba de la imagen*/
        padding-right: 0;
        object-fit: cover;
        padding-bottom: 10px;
    }
    .seccionPortones a button{
        margin-top: 1rem;
    }


    .todasMarcas h5 {
        font-size: 16px; /*tamaño de la letra*/

    }
    .todasMarcas img{
        width: 100%;
        height: 20rem;
        object-fit: contain; /* las imagenes se adaptaron de buena calidad al div*/

    }
    .logosMarcas {
        display: flex;
    }
    /* footer pagina principal */

    footer {
        height: 650px;
        display: flex;
        flex-wrap: wrap;
    }

    footer div h4{
        font-size: 16px;
        padding-top: 10px;
        font-weight: 700;
    }
    footer div p{ 
        font-size: 16px;
        font-weight: 400;
    }

    footer div button{ /* boton VER MAPA*/
        margin-top: 10px;
    }
    .pie-de-pagina .grupo-1 {
        width: 100%;
        height: 65rem;
        display: flex;
        flex-direction: column;
        
    }



    }