main{
    .seccionPrincipalTienda {
        @extend .sectionPrincipal;
        div{
            h1{
                color: $color-letra-principal;
                width: 100%;
                text-align: center;
                text-shadow: 3px 3px 5px black;
                font-family: $letra-principal;
                font-weight: 700; /* grosor letra*/
                padding-top: 5rem;
                font-size: 7rem; /*tamaño de la imagen*/
                margin: 0;
            }
            h2{
                background-color: rgba(255, 255, 255, 0.603);
                text-align: center;
                font-family: $letra-principal;
                font-weight: 400;
                font-size: 2rem; /*tamaño de la letra*/
                width: 80%;
                margin-left: 10%;
            }
        }
        .busquedaRapida {
            background-color: $color-principal;
            width: 80%;
            margin-left: 10%;
            margin-top: 1rem;
            div{
                h4{
                    font-family: $letra-principal;
                    font-weight: 400;
                    color: white;
                    text-align: center;
                    font-size: 20px; /*tamaño de la letra*/
                    padding: 1rem;
                }
            }
            .filtroBusqueda {
                @include flex (row,wrap,flex-start,center,0px);
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                input{
                    width: 14rem;
                    padding: 10px;
                    border-radius: 6px;
                    border: none;
                    margin: 5px;
                }
                button{ 
                    color: white;
                    font-size: 16px;
                    font-family: 'Lora', serif;
                    font-weight: 400;
                    background-color: black;
                    padding: 8px;
                    border-radius: 5px;
                    border:none;
                }
            }
            
        } 
    }
    .mediosDePago{
        @include flex (row,wrap,space-evenly,center,0px);
        div { /* los elementos del div estan uno bajo del otro con flex direction column*/
            background-color: rgba(0, 0, 0, 0.108);
            width: 20rem;
            height: 200px;
            margin-top: 1rem;
            @include flex (column,nowrap,center,center,0px);
            box-shadow: 3px 3px 5px grey;
            h3{
                color: black;
                font-family: $letra-principal;
                font-weight: 700;
                font-size: 20px;
                text-align: center;
            }
            img {
                width: 27%;
                height: 6rem;
                padding-bottom: 10px;
            }
        }
    }
    .containerTienda{
        width: 100%;
        display: flex;
        .filtros {
            width: 20%;
            div{
                h4{
                    color: black;
                    font-family: $letra-principal;
                    font-weight: 700;
                    font-size: 16px;
                }
                ul{
                    padding-left: 5px;
                    li{
                        list-style-type: none;
                        padding-top: 10px;
                        font-family: $letra-principal;
                        font-size: 16px;
                    }
                }

            }
        }
        .ordenarProd {
            display: grid;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            .boxProd {
                background-color: #d9d9d988;
                margin-top: 20px;
                width: 95%;
                height: 500px;
                border-radius: 6px;
                box-shadow: 3px 3px 5px grey;
                transition: all 400ms ease;
                    img {
                        width: 95%;
                        padding: 10px;
                        height: 250px;
                        object-fit: fill;
                    }
                    h5 {
                        text-align: center;
                        font-size: 20px;
                        font-family: $letra-principal;
                    }
                    p{
                        font-family: $letra-principal;
                        font-weight: 700;
                        text-align: center;
                        font-size: 25px;
                    }
                    button{
                        height: 40px;
                        background-color: #4C6793;
                        border: none;
                        margin-left: 25%;
                        border-radius: 5px;
                        h6{
                        color: white;
                        font-family: $letra-principal;
                        font-weight: 400;
                        font-size: 10px;
                        margin:0;
                        }
                    }
                    &:hover{
                        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4) ;
                        transform: translateY(-3%);
                }
            
            }
        }
    }
}