@media only screen and (max-width: 768px){
    main {
        .sectionPrincipal{
            height: 20rem;
            div{
                h1{
                    font-size: 4rem;
                    padding-top: 2rem;
                    margin-top: 0;
                }
                h2{
                    font-size: 1.3rem;
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 1rem;
                }.barraNav{
                    input{
                        margin-top: 1rem;
                    }
                }
            }
        }
        .importantInformation {
            @include flex (row,wrap,space-evenly,center,5px);
            div{
                width: 14rem;
                height: 12.5rem;
                h3{
                    font-size: 1rem;
                    font-weight: 400;
                }
                img{
                    width: 100%;
                    height: 9.3rem;
                    margin-top: 10px;
                    object-fit: fill;
                }
            }
        }
        .contenedorSecciones {
            width: 90%;
            .seccionMotores {
                height: auto;
                margin-left: 5%;
                @include flex (row,wrap,center,center,5px);
                div{
                    h2{
                        font-size: 1.5rem;
                        width: 170px;
                    }
                }
                div{
                    img{
                        width: 13rem;
                        height: 13rem;
                        padding-top: 4px; 
                        padding-left: 0;
                    }
                }
            }
            .seccionPuertas{ 
                height: auto;
                @include flex (row,wrap,center,center,5px);
                div{
                    h2{
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }
                div{
                    img{
                        width: 13rem;
                        height: 13rem;
                        padding-top: 4px; 
                        padding-left: 0;
                    }
                }
            }
        }
        .todasMarcas{
            h5 {
                font-size: 1.2rem;
            }
        }
    }
}