@media only screen and (max-width: 425px){
    .allMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sectionNos {
            h3{
                font-size: 16px;
                margin-top: 0;
            }
        }
        .cuadroPresu{
            margin-right: 0;
            margin-left: 10%;
        }
    }
    .procesoDesarme{
        h2{
            font-size: 20px;
        }
        .pasosReciclado {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}