@media only screen and (max-width: 768px){
    footer{
        height: 25rem;
        .grupo-1{
            height: 25rem;
            @include flex (row,wrap,center,center,25px);
            img{
                width: 6rem;
                height: 6rem;
            }
            div{
                button{ /* boton VER MAPA*/
                    a{
                        h5{
                            font-size: 10px;
                        }
                    }
                }
            }
            div{
                .redesSociales {
                    img{
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
    }
}