@media only screen and (max-width: 425px){
    main{
        .cuerpoCompra{
            .div1{
                form{
                    table{
                        display: block;
                    }
                }
            }
            .div2{
                height: 14rem;
                width: 35%;
                .botonContinuar{
                    margin-left: 10%;
                }
            }
        }
    }
}