@media only screen and (max-width: 375px){
    main{
        .allMain{
            .sectionNos{
                width: 20rem;
                img{
                    width: 15rem;
                    height: 12rem;
                    margin-left: 10%;
                }
            }
            .cuadroPresu{
                margin-left: 5%;
            }
        }
        .procesoDesarme{
            .pasosReciclado{
                div{
                    img{
                        width: 21rem;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}