@media only screen and (max-width: 375px){
    main{
        .sectionPrincipal{
            div{
                .barraNav{
                    input{
                        font-size: 12px;
                    }
                }

            }
        }
        .importantInformation{
            div{
                width: 11rem;
                height: 9.3rem;
                h3{
                    font-size: 14px;
                }
            }
        }
    }
}